body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header h1{
  background-color:blueviolet;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1{
  font-size:35px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.Search{
float: left;
padding: 10px;
}

.Search input{
  padding-left: 10px;
  width: 1835px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.S and B{
  display: flex;
}
.Button svg{
  width: 50px;
  height: 30px;
  float: right;
  margin-right: 10px;
}

svg{
  margin-top: 20px;
  cursor: pointer;
}

.FormOne .Form div {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between elements as needed */
}

div input {
  margin-top: 20px;
  padding-left: 20px;
  width: 400px;
  height: 45px;
  border-radius: 7px;
}

button{
  margin-top: 30px;
  width: 400px;
  height: 40px;
  border-radius: 7px;
}

 table{
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
 }

 table tr td{
  border: 0.5px solid grey;
  border-collapse: collapse;
 }

 table td{
  font-size: 1em;
  padding: 1.5em;
 }

 tbody tr:nth-child(even){
  background-color: #eaeaea;
}

thead tr th{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0.5px solid grey;
  border-collapse: collapse;
}

